* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
}

.container {
  height: 100vh;
  width: 100vw;
  /* padding: 10px; */
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: auto 1fr;
}

.parent-container {
  border: 1px solid gray;
  display: grid;
  grid-template-columns: 0.2fr 1fr;
  grid-template-rows: repeat(1, 1fr);
}

.main-child {
  /* border: 1px solid gray; */
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 0.2fr 1fr;
}

.main-content-container {
  border: 1px solid gray;
}

.main-bottom {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.main-bottom-child {
  border: 1px solid gray;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.card {
  height: 100%;
  width: 100%;
  border: 1px solid gray;
}

/* Style Headder */
.header {
  height: 52px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  gap: 12px;
}

.left-mid-nav-btn {
  background: #0a65e4;
  height: 30px;
  width: 84px;
  color: white;
  border-radius: 5px;
  border: none;
  padding: 6px 20px;
}

.left-mid-nav-btn:hover {
  cursor: pointer;
}

.right-mid-nav-button {
  height: 30px;
  width: 131px;
  border-radius: 5px;
  border: none;
  padding: 6px 12px;
}

.right-mid-nav-button:hover {
  cursor: pointer;
}

.right-mid-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 26px;
  gap: 12;
}

.right-mid-nav-input {
  height: 30px;
  width: 131px;
  border-radius: 5px;
  border: none;
  border: 1px solid gray;
  width: 207px;
  height: 30px;
  margin-top: 10px;
  padding: 6px 12px;
}
