* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
}

.container {
  height: 100vh;
  width: 100vw;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 70px 1fr;
}

.parent-container {
  border: 1px solid gray;
  display: grid;
  grid-template-columns: 0.2fr 1fr;
  grid-template-rows: repeat(1, 1fr);
}

.main-child {
  border: 1px solid gray;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 0.2fr 1fr;
}

.main-content-container {
  border: 1px solid gray;
}

.main-bottom {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.main-bottom-child {
  border: 1px solid gray;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.card {
  height: 100%;
  width: 100%;
  border: 1px solid gray;
}
