* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
}

.container {
  height: 100vh;
  width: 100vw;
  /* padding: 10px; */
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: auto 1fr;
}

.parent-container {
  border: 1px solid gray;
  display: grid;
  grid-template-columns: 267px 1fr;
  grid-template-rows: repeat(1, 1fr);
}

.main-child {
  /* border: 1px solid gray; */
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 0.2fr 1fr;
}

.main-content-container {
  border: 1px solid gray;
}

.main-bottom {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.main-bottom-child {
  border: 1px solid gray;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.card {
  height: 100%;
  width: 100%;
  border: 1px solid gray;
}

/* Style Headder */
.header {
  height: 52px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  gap: 12px;
}

.left-mid-nav-btn {
  background: #0a65e4;
  height: 30px;
  width: 84px;
  color: white;
  border-radius: 5px;
  border: none;
  padding: 6px 20px;
}

.left-mid-nav-btn:hover {
  cursor: pointer;
}

.right-mid-nav-button {
  height: 30px;
  width: 131px;
  border-radius: 5px;
  border: none;
  padding: 6px 12px;
}

.right-mid-nav-button:hover {
  cursor: pointer;
}

.right-mid-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 26px;
  gap: 12;
}

.right-mid-nav-input {
  height: 30px;
  width: 131px;
  border-radius: 5px;
  border: none;
  border: 1px solid gray;
  width: 207px;
  height: 30px;
  margin-top: 10px;
  padding: 6px 12px;
}

/* Styling Sidebar */

.aside {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}

.aside-top {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border: 1px solid #ececec;
}

.aside-header {
  height: 40%;
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 17px;
  line-height: 1.3;
}

.sidebar-planing {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding-left: 17px;
  line-height: 1.3;
  padding-top: 10px;
}

.planing-heading-para {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
}

.planning-heading {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: start;
  gap: 40%;
}

.planing-heading-lunar {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  color: #0a65e4;
}

.planning-heading div p {
  color: #0a65e4;
}

.sidebar-planing a {
  text-decoration: none;
}

.sidebar-list {
  list-style: none;
  line-height: 2;
  width: 80%;
}

.size-6 {
  height: 24px;
  width: 24px;
}

.sidebar-list-item {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 20px;
  padding-left: 10px;
}

.sidebar-footer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-right: 10px;
}

.sidebar-list-item:hover {
  cursor: pointer;
  color: #0a65e4;
  background: #a5d8ff;
  border-radius: 5px;
}

.aside-header:hover {
  cursor: pointer;
  color: #0a65e4;
}
